.avatar {
    width: 30%;
    border-radius: 50%;
    overflow: hidden;
}

.white-box {
    width: 800px;
    height: 670px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}